<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/dashboard}">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Quản Lý Khuyến Mại</title>

</head>
<body>
	<div class="main-content container-fluid" layout:fragment="content">
		<div>
			<h1 class="text-center mt-2">Danh Sách Khuyến Mại</h1>
			<div class="text-center mt-2" style="font-size: 30px">
				<a href="/khuyenmai/giamgia">Giảm giá</a> |
				<a href="/khuyenmai/tangqua">Tặng quà</a>
			</div>
		</div>
	</div>
</body>

</html>