<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Thêm Nhân Viên Mới</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<h2 class="text-center mt-4">Thêm Nhân Viên Mới</h2>
		<form th:action="@{/nhanvien/saveNhanVien}" th:object="${nhanVien}"
			method="post" name="nhanvien">
			<div class="form-group">
				<label>Mã Nhân Viên</label> <input name="NV_ID" type="text" class="form-control"
					th:field="*{NV_ID}">
			</div>
			<div class="form-group">
				<label>Tài Khoản</label> <input name="NV_TK_ID" type="text" class="form-control"
					th:field="*{NV_TK_ID}">
			</div>
			<div class="form-group">
				<label>Tên</label> <input name="NV_Ten" type="text" class="form-control"
					th:field="*{NV_Ten}">
			</div>
			<div class="form-group">
				<label>Giới Tính</label> <input name="NV_GioiTinh" type="text" class="form-control"
					th:field="*{NV_GioiTinh}">
			</div>
			<div class="form-group">
				<label>Ngày Sinh</label> <input name="NV_NgaySinh" type="date" class="form-control"
					th:field="*{NV_NgaySinh}">
			</div>
			<div class="form-group">
				<label>Số Điện Thoại</label> <input name="NV_SDT" type="text" class="form-control"
					th:field="*{NV_SDT}">
			</div>
			<div class="form-group">
				<label>Email</label> <input name="NV_Email" type="email" class="form-control"
					th:field="*{NV_Email}">
			</div>
			<div class="form-group">
				<label>Địa Chỉ</label> <input name="NV_DiaChi" type="text" class="form-control"
					th:field="*{NV_DiaChi}">
			</div>
			<div class="form-group">
				<label>Lương</label> <input name="NV_Luong" type="number" class="form-control"
					th:field="*{NV_Luong}">
			</div>
			<button type="submit" class="btn btn-primary">Lưu</button>
		</form>
	</div>
</body>

</html>